---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Mathys Le Floch" description="En découvrir plus sur Mathys Le Floch">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Découvrez en plus sur moi, mes compétences et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-sport.jpg"
					alt="Mathys Le Floch au sport"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Plus sur moi ?</h2>
				<div class="content">
					<p>
						Je m'appelle Mathys LE FLOCH, j'ai 20 ans et je suis étudiant en BTS SIO option SLAM au lycée polyvalent Chevrollier d'Angers. Ce qui m'a donné envie d'entrer dans le monde de l'informatique, ce sont les possibilités infinies de développer son imagination. J'ai fait de ce domaine, une de mes passions.
					</p>
					<p><br></p>
					<p>
						En plus d'être passionné par l'informatique, je suis également passionné par l'audio visuel. Depuis mon enfance, j'ai toujours aimé regardé des films en tout genre et pouvoir mettre un visuel sur ce que nous pensons au travers d'effets spéciaux est fascinant.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>BTS SIO - Option SLAM (en cours d'obtention) ; Baccalauréat STI2D - Option SIN</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Autonome ; Travail d'équipe ; Curieux ; Motivé ; Créatif ; Polyvalent</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
